<table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>
            <button mat-icon-button color="primary">
              <mat-icon (click)="openDialog('add', null)">add</mat-icon>
            </button>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="users && users.length">
      <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>
          <button mat-icon-button color="primary" (click)="openDialog('edit', user.id)">
            <mat-icon>border_color</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="confirmDialog('user', user)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="users && !users.length">
      <tr>
        <td colspan="4">
          No Users Data found
        </td>
      </tr>
    </tfoot>
  </table>