<table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>
            <button mat-icon-button color="primary">
              <mat-icon (click)="openDialog('add')">add</mat-icon>
            </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>Jill</td>
        <td>Smith</td>
        <td>smith@gmail.com</td>
        <td>
          <button mat-icon-button color="primary" (click)="openDialog('edit')">
            <mat-icon>border_color</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="confirmDialog('user')">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>eve@gmail.com</td>
        <td>
            <button mat-icon-button color="primary" (click)="openDialog('edit')">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="confirmDialog('user')">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>Johnson</td>
        <td>adam@gmail.com</td>
        <td>
            <button mat-icon-button color="primary" (click)="openDialog('edit')">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="confirmDialog('user')">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
    </tbody>
  </table>