<table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>Feed</th>
        <th>Email</th>
        <th>created At</th>
        <th>
            <button mat-icon-button color="primary">
              <mat-icon>add</mat-icon>
            </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jill</td>
        <td>smith@gmail.com</td>
        <td>09/08/2019</td>
        <td>
          <button mat-icon-button color="primary">
            <mat-icon>border_color</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>eve@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>adam@gmail.com</td>
        <td>09/08/2019</td>
        <td>
            <button mat-icon-button color="primary">
              <mat-icon>border_color</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
      </tr>
    </tbody>
  </table>