<table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>Feed</th>
        <th>Email</th>
        <th>Created At</th>
        <th>
            <button mat-icon-button color="primary">
              <mat-icon (click)="openDialog('add', null)">add</mat-icon>
            </button>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="feeds && feeds.length">
      <tr *ngFor="let feed of feeds">
        <td>{{feed.feed}}</td>
        <td>{{feed.email}}</td>
        <td>{{feed.createdAt}}</td>
        <td>
          <button mat-icon-button color="primary" (click)="openDialog('edit', feed.id)">
            <mat-icon>border_color</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="confirmDialog('feed', feed)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="feeds && !feeds.length">
      <tr>
        <td colspan="4">
          No Feed Data found
        </td>
      </tr>
    </tfoot>
  </table>