table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    margin: 40px auto;
    border: 1px solid #ddd;
}
thead {
    tr {
        border-bottom: 1px solid #d2d2d2;
    }
}
th {
    opacity: 0.5;
    mat-icon {
        font-weight: bold;
    }
}

th, td {
    text-align: center;
    width: 25%;
    word-break: break-all;
    padding: 15px;
}

td:first-child {
    width: 35% !important;
}

td:last-child {
    width: 15% !important;
}

tr:nth-child(even){background-color: #f2f2f2}