<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="brand-logo">
      <img src="assets/images/feed-logo.png">
    </span>
    <span class="example-spacer"></span>
    <a mat-button class="companyName" [routerLink]="['users']" routerLinkActive="active">
      <span>Users</span>
    </a>
    <a mat-button class="companyName" [routerLink]="['feeds']" routerLinkActive="active">
      <span>Feeds</span>
    </a>
    <a mat-button class="companyName" routerLink="/login">
      <span>Logout</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>