.brand-logo {
    img {
        height: 40px;
    }
    .logo-text {
        float: right;
        margin-top: 5px;
        font-weight: bold;
        font-style: italic;
    }
}

.example-icon {
    padding: 0 14px;
}

.mat-button {
    height: 100%;
    border-radius: 0;
    padding: 14px 25px;
    &.active {
        background-color: #ff4081;
    }
}
  
.example-spacer {
flex: 1 1 auto;
}