<div class="signupContainer">
    <mat-card>
        <p class="text-center logo">
          <img src="assets/images/feed-logo.png">
        </p>
        <form [formGroup]="signUpForm" novalidate>
          <p>
            <mat-form-field appearance="legacy">
              <mat-label>Email*</mat-label>
              <mat-icon matPrefix>email</mat-icon>
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="signUpForm.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy">
              <mat-label>Password*</mat-label>
              <mat-icon matPrefix>vpn_key</mat-icon>
              <mat-icon matSuffix 
              matTooltipPosition="after"
              matTooltip="Password must be at least 8 characters with one uppercase and one special character"
              aria-label="display tooltip for password format">help</mat-icon>
              <input matInput placeholder="Password" type="password" formControlName="password">
              <mat-error *ngIf="signUpForm.get('password').invalid">{{getErrorMessage('password')}}</mat-error>
            </mat-form-field>
            <mat-error *ngIf="errorMsg">{{errorMsg}}</mat-error>
          </p>
          <mat-grid-list cols="1">
              <button mat-raised-button color="accent">Sign Up</button>
          </mat-grid-list>
      </form>
      <p></p>
      <p class="text-center">
        <button mat-button class="link" [routerLink]="['/login']">
          <mat-icon matPrefix>keyboard_backspace</mat-icon>
          Login
        </button>
      </p>
    </mat-card>
  </div>
  